.container {
    padding-bottom: 6.5em;
}

.header {
    text-align: center;
    background-color: greenyellow;
    padding: 1em;
    margin: 2em;
    border-radius: 10px;
}
.logout {
    float:right;
    margin:2em;
    background-color: red;
    border-color: blue;
}

.message {
    background-color: white;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    box-shadow: #d3d3d3c7 1px 1px 4px;
}

.sender {
    position:fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}